.ah-section-hero {
    overflow: hidden;
    margin-bottom: 2rem;
}

.ah-section-hero-container {
    display: inline-block;
    position: relative;
    text-align: center;
}

.ah-section-hero--banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ah-section-hero-btn {
    position: absolute;
    top: 73%;
    left: 75%;
    transform: translate(-50%, -50%);

    font-family: var(--ah-typography-typeface);
    font-size: 14px;
    font-weight: 600;
    place-items: center;

    padding: 9px 24px;
    background-color: transparent;
    color: var(--ah-color-n-050);
    border: var(--ah-border-btn);
}

.ah-section-hero-btn:hover {
    color: var(--ah-color-n-050);
    background-color: var(--ah-color-n-400);
    border: var(--ah-color-n-400);
}

.ah-section-hero-h2 > h2 {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);

    font-family: var(--ah-typography-typeface);
    font-size: 14px;
    font-weight: 600;
    color: var(--ah-color-n-050);
    place-items: center;
}

.ah-section-hero-p > p {
    position: absolute;
    top: 53%;
    left: 75%;
    transform: translate(-50%, -50%);

    font-family: var(--ah-typography-typeface);
    font-size: 14px;
    font-weight: 600;
    color: var(--ah-color-n-050);
    place-items: center;
    width: 448px;
}

.ah-strong {
    color: var(--ah-color-n-600);
}

@media screen and (max-width: 890px) {
    .ah-section-hero {
        height: 35vh;
        overflow: hidden;
        margin: 0;
    }

    .ah-section-hero-btn {
        position: absolute;
        top: 65%;
        left: 75%;
        transform: translate(-50%, -50%);

        font-family: var(--ah-typography-typeface);
        font-size: 12px;
        font-weight: 600;
        place-items: center;

        padding: 7px 14px 7px;
        background-color: transparent;
        color: var(--ah-color-n-050);
        border: var(--ah-border-btn);
    }

    .ah-section-hero-btn:hover {
        color: var(--ah-color-n-050);
        background-color: var(--ah-color-n-400);
        border: var(--ah-color-n-400);
    }

    .ah-section-hero-h2 > h2 {
        position: absolute;
        top: 30%;
        left: 75%;
        transform: translate(-50%, -50%);

        font-family: var(--ah-typography-typeface);
        font-size: 14px;
        font-weight: 600;
        color: var(--ah-color-n-050);
        place-items: center;
    }

    .ah-section-hero-p > p {
        display: none;
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);

        font-family: var(--ah-typography-typeface);
        font-size: 14px;
        font-weight: 600;
        color: var(--ah-color-n-050);
        place-items: center;
    }
}

@media screen and (max-width: 768px) {
    .ah-section-hero-btn {
        background-color: var(--ah-color-n-050);
        color: var(--ah-color-n-600);
        border: none;
    }

    .ah-section-hero-btn:hover {
        color: var(--ah-color-n-050);
        background-color: var(--ah-color-n-400);
    }
}

@media screen and (max-width: 628px) {
    .ah-section-hero {
        height: 35vh;
        overflow: hidden;
        margin: 0;
    }

    .ah-section-hero-btn {
        position: absolute;
        top: 79%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-family: var(--ah-typography-typeface);
        font-size: 12px;
        font-weight: 600;
        place-items: center;

        padding: 7px 14px 3.5px;
        background-color: var(--ah-color-n-050);
        color: var(--ah-color-n-600);
        border: none;
    }

    .ah-section-hero-btn:hover {
        color: var(--ah-color-n-050);
        background-color: var(--ah-color-n-400);
    }

    .ah-section-hero-h2 > h2 {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-family: var(--ah-typography-typeface);
        font-size: 10px;
        font-weight: 400;
        color: var(--ah-color-n-050);
        place-items: center;
    }

    .ah-section-promo {
        margin: 0rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 375px) { 
    .ah-section-hero-btn {
        display: none;
    }
}