.ah-section-header-layout {
    justify-content: space-around;
    text-transform: uppercase;
    min-height: 10vh;
    padding: var(--ah-section-padding);
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.ah-section-header-nav {
    gap: var(--ah-gap);
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.ah-section-header-nav-right {
    gap: 0.7rem;
}

.ah-section-header--nav-link {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
}

.ah-section-header--nav-link::after {
    content: '';
    position: relative;
    width: 100%;
    height: 2px;
    top: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--ah-color-n-400);
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.ah-section-header--nav-link:hover::after {
    width: 100%;
    transform: scaleX(1);
}

.ah-hamburger-label,
.ah-hamburger {
    display: none;
}

@media screen and (max-width: 48rem) {

    .ah-section-header-layout {
        flex-direction: column;
    }

    .ah-hamburger-label {
        display: inline-block;
        color: var(--ah-color-n-600);
        font-style: normal;
        font-size: var(--ah-typography-h1);
        padding: 0.6rem;
    }

    .ah-section-nav {
        display: none;
    }

    .ah-hamburger:checked~.ah-section-nav {
        display: block;
        padding: var(--ah-section-padding);
    }

    .ah-section-header-nav {
        flex-direction: column;
    }

    .ah-section-header-nav-right {
        flex-direction: row;
    }
}