.ah-section-hero-sun {
    margin-bottom: 2rem;
}

.ah-section-hero-container-sun {
    width: 100vw;
    height: 450px;
}

.ah-section-hero--banner-sun {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.ah-hero-sung-title {
    position: absolute;
    color: white;
    top: 29rem;
    left: 4rem;
}

@media screen and (max-width: 768px) {
    .ah-section-hero-container-sun {
        width: 100vw;
        height: 300px;
    }

    .ah-hero-sung-title {
        position: absolute;
        color: white;
        top: 23rem;
        left: 3rem;
    }
}